/* navigation */

#navbar{flex-direction: column;} /*taki chota ho to column me aajae*/
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
    padding-bottom: 6px;
}


/* home section  */
#home{
    
     height: 280px;
    
}
#home::before{
       
    height: 380px;
}


/* services section  */
#services{
    flex-direction: column;
    
}
#services .box{
   
    margin: 2px 3px;
    padding: 2px 8px;
    
}
#services .box img{
    /* height: 150px; */
    width: 100px;
    
}

/* client section */
#clients{flex-wrap: wrap;}
#clients img{
    width: 77px; 
    height: auto;
}
  
/* contact us section */
#contact-box form{
    width: 80%;
    
}
/* utility classes */


#home p{
    font-size: 1rem;
    color: #f1f1f1;
    margin-top: 0;
}
#home h1{
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 8px;
    padding-bottom: 0;
}
.description {
    color: #f1f1f1;
    font-size: 1.1rem;
}
.quote {
    color: #fff;
    font-size: 1rem;
}
.btn {
    padding: 12px 24px;
    font-size: 1rem;
}

.contact-social {
    margin-top: 20px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.contact-social img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
}




